@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 100%;
}

h1, h2, h3, h4, h5, p, a {
    margin: 0;
  
}


.wrapper {
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 3rem;
}

/*--------------------------HEADER--------------------------------------------*/

.hero-index {
    height: 50vh;
    background-image: url(../images/banner-1.png);
    background-size: cover;
}

.hero-nav {
    padding: 3rem!important;
    background-image: linear-gradient(#74f1df, white);
    border-radius: 2rem;   
}

.hero-nav a {
    font-size: 1.5rem;
    font-weight: 500;
    color: #4805c4;

}
.container-fluid {
    width: 50%!important;
}



/*----------------------------------------------------------------------*/

/*--------------------------FOOTER--------------------------------------------*/

footer {
    background-image: linear-gradient( white, #74f1df);
    padding-top: 5rem;
}
  
  .container-footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    margin-bottom: 0px;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 30px;
  }
  
  .social-icons a {
    font-size: 30px;
    text-decoration: none;
    color: black;
    margin-left: 100%;
  }  

  
  .container-footer p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
  }

/*---------------------------INDEX-------------------------------------------*/

/*--------------------------CARRUSEL-INDEX--------------------------------------------*/

 .img-carousel {
  
    border-radius: 1rem;
    max-width: 60%;
    margin: 1rem auto;
 
} 

.text_carousel {
    color: white!important;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.2rem;
   
}



/*--------------------------GRILLA-INDEX--------------------------------------------*/


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr .7fr;
    grid-template-areas: 
        "item1 item2"
        "item4 item3"
        "item5 item5";
    text-shadow: 1px 1px 0 grey;
    margin-top: 2rem;
    gap: 4rem;
    aspect-ratio: 1;
}

.grid_item {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 30px;
    padding-top: 2rem;
    border: 3px solid #4805c4;
}

.grid_item:hover {
    color: #74f1df;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;

}


.grid_item1 {
    grid-area: item1;
    background-image: url(../images/grid1.png);
    background-repeat: no-repeat;

}


.grid_item2 {
    grid-area: item2;
    background-image: url(../images/grid3.png);
    background-repeat: no-repeat;
}

.grid_item3 {
    grid-area: item3;
    background-image: url(../images/accesorios.png);
    background-repeat: no-repeat;
}

.grid_item4 {
   
    grid-area: item4;
    background-image: url(../images/grid2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.grid_item5 {
   
    grid-area: item5;
    background-image: url(../images/grid4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid h4 {
    padding: 0.5rem 1rem;
    margin-left: 2rem;
    margin-top:11rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #4805c4;
    color: white;
    width: max-content;
    border-radius: 10px;
}

.offer {
    position: absolute;
    top: -1rem;
    left: -2.5rem;
    background-color: #9cf1e6;
    padding: 1rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.8rem;
    font-family: 'Bebas Neue', sans-serif;
}

.grid_item5 h4{
    margin-top: 0;
}

  /*------------------------------PRODUCTOS------------------------------------------------
    
    ---------------------------CHECKBOX-PRODUCTOS------------------------------------------------*/
      
    .item_select {
        border-radius: 1rem;
        padding: .5rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    .item_select:hover {
        background-color: black;
        color: #74f1df;
        transform: scale(1.1);
        transition: transform 0.3s ease;
        cursor: pointer;
        border-radius: 1rem;
        padding: 0.2em;
        cursor: pointer;
        padding: 1rem;
    
    }
    
  

/*---------------------ITEM PRODUCTO - PRODUCTOS-----------------------------*/


.item_product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 70%;
    margin: 2rem auto;
}

.item_checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
}


.product_search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    letter-spacing: 0.18rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-column: 3/4;
}

.product_search_bar {
    position: relative;
  }



  .product_search_input {
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 7rem;
    border: 3px solid #f3a109;
    border-radius: 3rem;

  } 

  .product_search_bar_img {
    position: absolute;
    height: 3rem;
    width: 3rem;
    top:-0.3rem;
 
  }



.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    border: 0.5px solid rgb(187, 187, 187);
    margin-bottom: 2.5rem;
    cursor: pointer;
}

.img_product {
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;   
}

.detail_product {
    display: flex;
    flex-direction: column;
    background-color: #b7c7c5;
    position: absolute;
    left: 5%;
    padding: 0.5rem;
    bottom: -2rem;
    border-radius: 1rem;
    width: 90%;
    text-align: center;


}

.detail_product p {
line-height: 1;    
}


.add_product {
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
}

.menu_products {
    display: none;
}


/*--------------------------------PREGUNTAS----------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/


 .hero_faq {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "item_faq1 item_faq1"
    "item_faq2 item_faq3"
    "item_faq4 item_faq5"
    "item_faq6 item_faq7"
    "item_faq8 item_faq9"
    "item_faq10 item_faq11";
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 1rem;
}


.item_faq {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.5rem;
    padding: 1rem;
}

.item_faq p {
    font-size: 20px;
    color: white;
}


.item_faq1 {
    grid-area: item_faq1;
    margin-bottom: 3rem;
}

.item_faq2 {
    grid-area: item_faq2;
    background-color: #73C3DC;
    border-radius:  3rem 0 0 0;

}
.item_faq3 {
    grid-area: item_faq3;
    background-color: #7167D6;
    border-radius:  0 3rem 0 0;
}
.item_faq4 {
    grid-area: item_faq4;
    background-color: #727ED8;

}
.item_faq5 {
    grid-area: item_faq5;
    background-color: #73B8DC;

}
.item_faq6 {
    grid-area: item_faq6;
    background-color: #73C3DC;

}
.item_faq7 {
    grid-area: item_faq7;
    background-color: #7167D6;

}
.item_faq8 {
    grid-area: item_faq8;
    background-color: #727ED8;

}
.item_faq9 {
    grid-area: item_faq9;
    background-color: #73B8DC;

}
.item_faq10 {
    grid-area: item_faq10;
    background-color: #73ACDB;
    border-radius: 0 0 0 3rem;
}
.item_faq11 {
    grid-area: item_faq11;
    background-color: #7295D9;   
    border-radius:  0 0 3rem 0;
}
 

.search {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    letter-spacing: 0.18rem;
}

.search_bar {
    position: relative;
  }



  .search_input {
    padding: 0.5rem;
    border: 3px solid #f3a109;
    border-radius: 3rem;

  } 

  .search_bar_img {
    position: absolute;
    height: 3rem;
    width: 3rem;
    top:-0.3rem;
    left: 80%;
  } 


/*-----------------------------------------------QUERYS-----------------------------------------------------------------------*/


@media  screen and (max-width:1900px) {
    .hero-index {
        height: 50vh;
        background-image: url(../images/banner-2.png);
       
    }
    
}

@media screen and (max-width:1300px) {
    .hero-index {
        background-image: none;
        height: auto;
    }

    .item_product {
        grid-template-columns: 1fr 1fr;
    }

    .product_search {
        grid-column: 1/3;
    }

    .search_products {
        padding: 0;
    }

    .hero-index {
        max-height: 20vh;
      
    }
    
}

@media screen and (max-width:1000px) {
        .hero_media {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .hero_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    }

    .hero_tittle {
        font-size: 4rem;
    }

    .hero_media {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero_faq {
        min-width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .item_faq{
        padding-top: 3rem;
        padding-bottom: 3rem;

    }

    .item_faq2 {
        border-radius:  50% 50% 0 0;
    }
    .item_faq3 {
        border-radius:  0 0 0 0;
    }
    .item_faq10 {
        border-radius:  0 0 0 0;
    }
    .item_faq11 {
        border-radius:  0 0 50% 50%;
    }




}



@media screen and (max-width:900px) {
    .item_product {
       display: flex;
       flex-direction: column;
    
    }

}

@media screen and (max-width:700px) {
    
    .search_products {
        display: none;
    }

    .grid {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
}






    @media screen and (max-width:500px) {
      
        .grid{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }

        .hero_tittle h2 {
            max-width: 100%;
        } 

        .grid_item {
            height: 100%;
            width: 100%;
           
        }
    }

 

