.contact {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    color: $ternaryColor;
   
    .form_contact {
        position: absolute;
        top: 30%;
        left: 10%;
        background-color: #ffffff41;
        padding: 20px;
        border-radius: 10px;
        height: 50%;
        width: 30%;
       

      .item-form {
          padding: 1rem;
      }
      
      .item-type-form {
          display: flex;
          justify-content: center;
          align-items: center;
      }
      
      .button_form {
          margin-top: 2rem;
          border: 1px solid $primaryColor;
          padding: 1rem;
          background-color: $secondaryColor;
          color: $ternaryColor;
          text-decoration: none;
          font-family: $fontBebasNeue; 
          border-radius: 50px;
          color:  black
      }

    }

    .fondo-contact {
        min-width: 100%;
    }

    .bg-contact {
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: 10px;
    }

    .map_contact {
        position: absolute;
        top: 30%;
        left: 30%;
        margin: auto;
        padding: 3rem;
        background-color: #ffffff73;
        height: 50%;
        width: 30%;


        .map {
            margin: 1rem;
            height: 40vh;
            width: 80%;
            border-radius: 1rem;
        }
    }

    .info-contact {
        background-color: #ffffff73;
        height: 50%;
        width: 30%;
        color: $ternaryColor;
        position: absolute;
        top: 30%;
        left: 70%;
    }
}

