footer {
    background-image: linear-gradient( white, #8a8a8a);
    padding-top: 5rem;

    .container-footer {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding: 1.5rem;
        
        .social-icons {
            list-style: none;
            padding: 0;
            margin-bottom: 0px;

                li {
                display: inline-block;
                margin-right: 30px;

                    a {
                    font-size: 30px;
                    text-decoration: none;
                    color: black;
                    margin-left: 100%;
                    }  

                }

        }

        
        p{
          font-family: 'Bebas Neue', sans-serif;
          font-size: 1.5rem;
        }


    }


}
  

  

