@media  screen and (max-width:1900px) {
    .hero-index {
        height: 50vh;
        background-image: url(../images/banner-2.png);
       
    }
    
}

@media screen and (max-width:1500px){
    .grid-about{
        height: auto;
        display: flex;
        flex-direction: column;

        .grid-about3 {
            p{
                display: none;        
            }
        }
        .grid-about1 {
            display: none;
    }
        .grid-about2 {
                display: none;
        }

        .grid-about5{
            padding: 1.5rem;
            li{
                font-size: 2rem;
                text-align: center;
            }
        }

    }
}

@media screen and (max-width:1300px) {
    .hero-index {
        background-image: none;
        height: auto;
        max-height: 20vh;
    }
    .search_products {
        padding: 0;
    }

    .banner-img {
        width: 90%;
        height: 40vh;
    }

    .circle-section img{
        display: none;
    }

    .item_checkbox {
        width: 30vw!important;
    }
    
    .contact {
        display: flex;
        flex-direction: column;
        height: auto;

        .form_contact {
            width: 100%;
            height: auto;
            padding-top: 1rem;
            padding-bottom: 10%;
            padding-top: 5%;
        }

        .map_contact {
            height: 100vh;
            background-size: cover;
        }
    }
}

@media screen and (max-width:1000px) {

    .header-img {
        background-image: none;
        height: auto;
    }  

    .navbar-toggler {
        display: block;
    }

    .navbar-brand img {
        width: 75%;
    } 

    .first-container-footer {
        display: none;
    }

    .list-container {
        width: 100%!important;
        font-size: 1rem!important;
    }

    .item_product {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .item_checkbox {
        display: none!important;
    }

    .hero_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    }

    .hero_tittle {
        font-size: 4rem;
    }

    .hero_media {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero_faq {
        min-width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .item_faq{
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        .item_faq2 {
            border-radius:  50% 50% 0 0;
        }
        .item_faq3 {
            border-radius:  0 0 0 0;
        }
        .item_faq10 {
            border-radius:  0 0 0 0;
        }
        .item_faq11 {
            border-radius:  0 0 50% 50%;
        }

    }

}

@media screen and (max-width:900px) {
    .item_product {
       display: flex;
       flex-direction: column;
    }
}

@media screen and (max-width:700px) {
    
    .search_products {
        display: none;
    }

    .grid {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .img-carousel-mobile {
        height: 35vh;
        display: block!important;
        border-radius: 1rem;
    }

    .img-carousel {
        display: none!important;
    }

    // .carousel{
    //     width: 100vh;
    // }
}

@media screen and (max-width:500px) {
    .grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .hero_tittle h2 {
        max-width: 100%;
    } 

        .grid_item {
            height: 100%;
            width: 100%;
        }

        .list-container {
            display: flex;
            flex-direction: column;
            text-align: center;
            line-height: 1.2rem;
        }

        .navbar-brand { 
            width: 60%;
        }
        
    
    }
    
