
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &::selection {
        background-color: black;
        color: rgb(252, 61, 93);
    }
}


body,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 100%;
}

.wrapper {
    margin: 0 auto;
    min-width: 100%;
    background-color: $bgColor;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 3rem;

   
}
