@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');


$fontAgdasima: 'Agdasima', sans-serif;
$fontBebasNeue :'Bebas Neue', sans-serif;
$fontOrbitron: 'Orbitron', sans-serif;;

$bgColor: #313542;

$primaryColor: #4805c4;
$secondaryColor: #9cf1e6;
$ternaryColor: #f3f0f0;